<h1>Add a contact: </h1>

<form action="/contacts" method="post">
  <label for="first_name">First Name</label>
  <input id="first_name" name="first_name" type="text">

  <label for="last_name">Last Name</label>
  <input id="last_name" name="last_name" type="text">

  <label for="birthday">Birthday</label>
  <input id="birthday" name="birthday" type="text">

  <button class='btn btn-primary' type="submit">ADD</button>
</form>
