<h1>Address Book</h2>
<h2>Welcome to the contact list.</h2>

<div id="name">
<ul>
  <li><a href="/contacts">Show all contacts in Address Book</a></li>
  <li><a href="/contacts/add">Add a contact to the Address Book</a></li>
</ul>
</div>
